@import "variables.scss";
@import "mixin.scss";

html,
body {  height: 100%; }
.copyright { background: $main; color: $gray; line-height: 40px; }
#page { min-height: 100%; margin-bottom: -$forty; padding-bottom: $forty;
  .container { padding: 0;} }
#footer { height: $forty; position: relative; z-index: 10; padding: 140px 0 0 0; }
#main { padding-bottom: $forty; }
.margin30 {  margin: $forty - ($forty/4) 0; }
.padding20 { padding: 0 $forty/2; }
#logo {  margin: 0; max-height: 99px; }

.block {
  @include border-radius(2px);
  @include box-shadow(0 0 6px rgba(0, 0, 0, 0.27));
  background: #ffffff;  padding: 15px;  margin-bottom: $forty/2; }

#nav {
  .uMenuRoot {
    li { padding: 27px 33px 0; float:left;
      &:before { content: ""; }
      &:first-of-type { padding: 27px 28px 0 61px; }
      &:last-of-type { padding: 27px 0 0 17px; } } } }

.b-contacts { margin: 8px 0;
  a { margin: 0 11px;} }
.b-social {
  @include font-size(16px);
  a {padding-right: 15px;} }

#mainslider {
  max-width: $max-width!important; margin: 0 auto; position: relative;
  .bx-wrapper {
    .slider {
      li { padding: 0;
        &:before { content: ""; } } } }
  .outside-controls { position: absolute; bottom: 0; right: 0; padding: 0; background: rgba( 255, 255, 255, 0.7);
    #pager { @include font-size(18px);; font-weight: bold;}
    .controls-header { background: rgba( 255, 255, 255, 0.9);  padding: 22px 12px 0 12px;
      .bx-prev, .bx-next {@include transition (all 0.3s ease); outline: 0; width: 45px; height: 45px; line-height: 44px; margin: -4px 0 0 0; display: inline-block; font-size: 0; z-index: 500; border: none;
        &:hover { &:after{ color: $color_red } } }
      .bx-next:after, .bx-prev:after{ color:$color_black; display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 32px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
      .bx-prev:after{content: "\f104";}
      .bx-next:after{content: "\f105";}
      a.disabled {display: none;} }
    .slider-describtion { padding: 20px 20px 0 20px; height: 103px; }
    .slider-button { padding: 0 15px 15px 15px; }
  }
}

.photo-uslugi {
  .b-uslugi-content {border-top: 1px solid $color_gray_light; border-bottom: 1px solid $color_gray_light; padding: $forty 0;
    .b-uslugi { height: 190px;
      &:nth-of-type(4n+1),&:nth-of-type(4n+2) {
        .b-uslugi__img { position: relative;
          &:after { content:"";position: absolute; right: 0;top: 50%;border: 20px solid transparent; border-right: 20px solid $color_white; margin-top: -20px;} } }
      &:nth-of-type(4n+3),&:nth-of-type(4n+4) {
        .b-uslugi__img { position: relative;
          &:after { content:"";position: absolute; left: 0;top: 50%;border: 20px solid transparent; border-left: 20px solid $color_white; margin-top: -20px;} } }
      .table { height: 100%;} } }
  .buttons-wrapper button { margin: 42px 0 0; }
  .buttons-wrapper-right button { margin: 42px 30px 0; }
}

.additional-services { padding: 27px 0;
  .col-md-3 {
    &:nth-of-type(4n+1) { padding-left: 0;}
    &:nth-of-type(4n+4) { padding-right: 0;}
    &:nth-of-type(1) { .aditional-photo:after {content: "\f19c";} }
    &:nth-of-type(2) { .aditional-photo:after {content: "\f03e";} }
    &:nth-of-type(3) { .aditional-photo:after {content: "\f19d";} }
    &:nth-of-type(4) { .aditional-photo:after {content: "\f0ad";} } }
  .aditional-photo { position: relative; height: 180px;
    &:after { content: ""; position: absolute; bottom: -30px; left: 0; right: 0; margin: 0 auto; background-color: $color_red; border-radius: 50%; width: 60px; height: 60px; text-align: center; color: $color_white; padding: 17px; font-family: $font-awesome; @include font-size(21px);}
  }
  .aditional-links { height: 207px; border-bottom: 1px solid $color_gray_light;}
}

#footer {
  .footer_top { background-color: $color_gray_lighter; padding: 0 0 30px 0;
    .b-social { @include font-size(18px); padding: 15px 0 0;
      a { padding: 12px; } }
    .f-logo { width: 87px; margin: 50px auto 14px; }  }
  .map { max-height: 500px;}
}

