$main: #0f111a;
$white: #ffffff;
$gray: #dbdbdb;
$lightgray: #e1e1e1;
$navbar: #9d9d9d;
$forty: 40px;
$all: all 0.3s ease;
$green: #689f38;

$color_red:#d6363b;
$color_red_dark: darken( $color_red, 10% ); //b42529
$color_red_light: #da4b50; //lighten ( $color_red, 5%);
$color_white:#fff;
$color_black:#0f111a;
$color_gray_dark: #757575;
$color_gray: #9e9e9e;
$color_gray_light: #dbdbdb;
$color_gray_lighter: #f7f7f7;

$font-open-sans: 'Open Sans', Arial, sans-serif;
$font-awesome: FontAwesome;

$browser-context: 16;
$base-font-size:13px;
$base-line-height:24;
$base-font-weight:400;
$max-width:1800px;