@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, menu, form {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

[hidden], template {
  display: none; }

b, strong {
  font-weight: bold; }

img {
  border: 0;
  max-width: 100%; }

optgroup {
  font-weight: 700; }

mark {
  background: #ff0;
  color: #000; }

dfn {
  font-style: italic; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

hr {
  box-sizing: content-box;
  display: block;
  height: 0;
  border: 0px solid #b8b8b8;
  border-bottom-width: 1px; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

/*dev*/
input, button, textarea {
  outline: none; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button, select {
  text-transform: none; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button {
  background-color: #d6363b;
  overflow: visible; }
  button:active {
    background-color: #b42529; }
  button:hover {
    background-color: #da4b50; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

input[type=text], input[type=email], input[type=url], input[type=number], input[type=search], input[type=password], input[type=tel], textarea, select {
  outline: none;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 25px;
  padding: 9px 15px;
  border: 1px solid #dbdbdb;
  margin: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 100%;
  margin: 15px 0; }
  input[type=text]:focus, input[type=text]:active, input[type=email]:focus, input[type=email]:active, input[type=url]:focus, input[type=url]:active, input[type=number]:focus, input[type=number]:active, input[type=search]:focus, input[type=search]:active, input[type=password]:focus, input[type=password]:active, input[type=tel]:focus, input[type=tel]:active, textarea:focus, textarea:active, select:focus, select:active {
    border: 1px solid #0f111a; }

select {
  padding: 12px 15px; }
  select:focus, select:active {
    border: 1px solid #dbdbdb; }

.select-styled {
  position: relative; }
  .select-styled:after {
    font-family: FontAwesome;
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    color: #757575;
    content: "\f107";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px;
    background-color: #fff;
    width: 24px;
    height: 24px;
    right: 4px;
    top: -3px;
    position: absolute;
    pointer-events: none; }

label {
  cursor: pointer; }

input[type=submit], input[type=button], button, .button, input[type="reset"] {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 21px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #d6363b;
  color: #fff;
  font-weight: bold;
  padding: 12px 50px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 20px; }
  input[type=submit]:hover, input[type=button]:hover, button:hover, .button:hover, input[type="reset"]:hover {
    background-color: #da4b50;
    color: #fff; }
  input[type=submit]:active, input[type=submit]:focus, input[type=button]:active, input[type=button]:focus, button:active, button:focus, .button:active, .button:focus, input[type="reset"]:active, input[type="reset"]:focus {
    background-color: #b42529;
    color: #fff; }
  input[type=submit].button-large, input[type=button].button-large, button.button-large, .button.button-large, input[type="reset"].button-large {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    padding: 17px 70px; }
  input[type=submit].button-s1, input[type=button].button-s1, button.button-s1, .button.button-s1, input[type="reset"].button-s1 {
    background-color: transparent;
    border: 2px solid #d6363b;
    color: #0f111a;
    padding: 10px 50px; }
    input[type=submit].button-s1:hover, input[type=button].button-s1:hover, button.button-s1:hover, .button.button-s1:hover, input[type="reset"].button-s1:hover {
      background-color: #da4b50;
      color: #fff;
      border: 2px solid #da4b50; }
    input[type=submit].button-s1:active, input[type=submit].button-s1:focus, input[type=button].button-s1:active, input[type=button].button-s1:focus, button.button-s1:active, button.button-s1:focus, .button.button-s1:active, .button.button-s1:focus, input[type="reset"].button-s1:active, input[type="reset"].button-s1:focus {
      background-color: #b42529;
      color: #fff;
      border: 2px solid #b42529; }

/*main*/
.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.overflow {
  overflow: hidden; }

.centertext, .text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.clearfix:after, .clearfix:before {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.table {
  display: table;
  width: 100%; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.inline {
  display: inline-block;
  vertical-align: middle; }

.normal {
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit; }

body {
  border: 0;
  background-color: #fff;
  color: #0f111a;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 24px; }

a {
  text-decoration: none;
  color: #0f111a; }
  a:hover {
    color: #d6363b;
    outline: 0; }
  a:active, a:focus {
    color: #b42529; }
  a.link-red {
    color: #b42529; }
    a.link-red:hover {
      color: #d6363b;
      outline: 0; }
    a.link-red:active, a.link-red:focus {
      color: #b42529; }
  a.link-gray {
    color: #dbdbdb; }
    a.link-gray:hover {
      color: #d6363b;
      outline: 0; }
    a.link-gray:active, a.link-gray:focus {
      color: #b42529; }

a, input, .button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.5em;
  font-weight: 400; }

.col-md-3 p, .col-md-4 p, .col-lg-3 p, .col-lg-4 p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.3125em;
  font-weight: 400; }

ul {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2.25em;
  font-weight: 400;
  list-style: none; }
  ul li {
    line-height: 1.5em;
    padding-left: 30px; }
    ul li:before {
      color: #d6363b;
      content: "\f111";
      padding-right: 15px;
      font-family: FontAwesome;
      font-size: 5px;
      font-size: 0.3125rem;
      display: inline-block; }

ol {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2.25em;
  font-weight: 400;
  list-style: none; }
  ol li {
    line-height: 1.5em;
    padding-left: 30px;
    list-style-type: none;
    counter-increment: list; }
    ol li:before {
      color: #d6363b;
      content: counter(list);
      padding-right: 15px;
      display: inline-block; }

table thead {
  border-bottom: 2px solid #d6363b; }

table tr td, table tr th {
  padding: 10px 30px 10px 0;
  text-align: left; }

table tr td {
  border-bottom: 1px solid #dbdbdb; }

blockquote {
  margin: 1em 3.7em 1em 3.7em;
  position: relative; }
  blockquote:before {
    content: "“";
    position: absolute;
    top: 5px;
    left: -26px;
    font-size: 37px;
    font-size: 2.3125rem;
    font-weight: bold;
    color: #d6363b; }
  blockquote:after {
    content: ""; }

.leftimg {
  float: left;
  margin: 25px 19px; }

.rightimg {
  float: right;
  margin: 25px 19px; }

h1, .h1 {
  font-size: 37px;
  font-size: 2.3125rem;
  font-weight: 400;
  line-height: 48px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 50px 0 40px 0; }

h2, .h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 36px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 9px 0; }

h3, .h3 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 32px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 9px 0; }

h4, .h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 27px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 3px 0; }

.text {
  color: #0f111a; }

.additional, .secondary {
  color: #757575; }

.hint {
  color: #9e9e9e; }

.outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.inner {
  display: inline-block;
  vertical-align: middle; }

.p0 {
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.h100 {
  height: 100%; }

.w100 {
  width: 100%; }
